<h2 class="titulo-pagina">Partidos</h2>

<div class="acoes text-right my-2">
  <button class="btn btn-primary btn-sm" routerLink="/partido">Adicionar</button>
</div>

<table class="table table-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Sigla</th>
      <th scope="col">Nome</th>
      <th scope="col">Membros</th>
      <th scope="col">Avaliação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partido of partidos" routerLink="/partido/{{partido.sigla}}">
      <td>{{partido.sigla}}</td>
      <td>{{partido.nome}}</td>
      <td>{{partido.politicos.length}}</td>
      <td>{{partido.avaliacaoGeral}}</td>
    </tr>
  </tbody>
</table>