<nav id="topo" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Avaliador Político</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partidos">Partidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/politicos">Políticos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eleitor">Eleitor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <ap-mensagens></ap-mensagens>
  <router-outlet></router-outlet>
</div>